*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style-type: none
    letter-spacing: 0.2rem
html
    font-size: 62.5%

#app
    display: grid
    grid-template-columns: minmax(0,1.2fr) minmax(0,4fr)
    a
       color: #fff !important
#left
    background: #111
    padding: 2rem
    display: flex
    flex-direction: column
    justify-content: space-between

input
    height: 100% !important

#left, #main, #app, input
    width: 100% !important

#left, #main
    height: 100vh !important

#header, #header nav ul
    display: flex
    flex-direction: column

#header
    gap: 3rem
    #searchnav
        height: 40px
        input
            padding: .67rem
    nav
        ul
            gap: .22rem
            li  
                padding: .63rem
                cursor: pointer
                a
                    font-size: 1.8rem    
                    width: 100%   
            li:hover
                background: #6e6b6b

    #logo
        a
            font-size: 1.4rem
            font-weight: bold

#main
    background: #c20a0a

#footerMain
    a
        font-size: 1.2rem